.navbar .h-free-shipping {
  visibility: hidden;
}

.navbar .controls {
  display: none !important;
}

.home .jumbotron {
  display: none;
}

.home .h-row {
  display: none;
}

.h-product .form-inline {
  visibility: hidden;
}